body.lock {
  overflow: hidden;
}

.tip {
  margin-top: 40px;
  font-size: 18px;
}

.mask {
  background: #acacac;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  opacity: 0.3;
  display: none;
}

.win {
  opacity: 1;
  width: 90%;
  height: 90%;
  z-index: 1;
  background: white;
  border: 1px solid rgb(148, 148, 148);
  text-align: center;
  position: fixed;
  left: 5%;
  top: 5%;
  display: none;
}

button {
  padding: 10px;
  margin: 0 15px;
  width: 100px;
}

.link {
  height: 80%;
  overflow: auto;
}
