* {
  padding: 0;
  margin: 0;
  word-break: break-all;
}

nav {
  padding: 20px;
  background: #fff1cf;
  color: #ff9100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 20px;
  border-top: 1px solid #ff9b0f;
  border-bottom: 1px solid #ff9b0f;
}

body.lock {
  overflow: hidden;
}

.box {
  padding: 30px 2px;
  margin-top: 66px;
  margin-bottom: 50px;
}

.box .disk {
  margin-left: 30px;
}

.box a,
.file a {
  color: #0e17d6;
}

.category {
  color: #3ea36b;
}

.box p {
  margin: 12px;
}

.tip {
  margin-top: 40px;
  font-size: 18px;
}

.mask {
  background: #acacac;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  opacity: 0.3;
}

.win {
  opacity: 1;
  width: 400px;
  z-index: 1;
  background: white;
  text-align: center;
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 90px;
  padding-top: 0;
}

.item {
  margin-top: 20px;
  background: #f2f2f2;
  padding: 10px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

date {
  font-size: 12px;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
}

canvas {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  user-select: none;
}

.name {
  margin-top: 20px;
}

.dialog-box {
  padding: 38px;
  min-height: 60px;
}

.title {
  background: #606060;
  color: wheat;
  padding: 10px;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: #f5a53b;
}

info {
  display: block;
  font-size: 14px;
  color: #a6a4a4;
  margin-bottom: 20px;
  margin-top: 6px;
}

.file {
  text-align: left;
}
