* {
  padding: 0;
  margin: 0;
  word-break: break-all;
}

nav {
  padding: 0 20px;
  background: #4c473c;
  color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  right: 0;
  height: 70px;
  left: 0;
  font-size: 20px;
  align-items: center;
}

body.lock {
  overflow: hidden;
}

.box {
  padding: 30px 0;
  margin-top: 40px;
  background: #f3f3f3;
}

html {
  background: #f3f3f3;
}

.box .disk {
  margin-left: 30px;
}

nav img {
  width: 24px;
  margin-right: 12px;
  user-select: none;
}

.box a,
.file a {
  color: #0e17d6;
}

.box p {
  margin: 12px;
}

.tip {
  margin-top: 40px;
  font-size: 18px;
}

.mask {
  background: #000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  opacity: 0.6;
}

.win {
  opacity: 1;
  width: 400px;
  z-index: 1;
  background: white;
  text-align: center;
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 90px;
  padding-top: 0;
}

.header {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info {
  padding: 20px;
}

.item {
  margin-top: 20px;
  background: #fff;
  margin: 20px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

date {
  font-size: 12px;
  color: #b7b7b7;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
}

canvas {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  user-select: none;
}

.dialog-box {
  padding: 38px;
  min-height: 60px;
}

.title {
  background: #f8ce7a;
  color: #726345;
  padding: 10px;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: #f5a53b;
}

info {
  display: block;
  font-size: 14px;
  color: #a6a4a4;
  margin-bottom: 20px;
  margin-top: 6px;
}

.file {
  text-align: left;
}
